{% extends 'parts/layout.twig' %}

{% block title %}
	<title>нек4 - съемка панорам для Яндекс.Карт</title>
{% endblock %}



{% block content %}
	{#INTRODUCTION BLOCK#}
	<section class="introduction" id="about">
		<div class="introduction__container container clearfix">
			<div class="introduction__partner"></div>
			<div class="introduction__main-content">
				<h1 class="introduction__title">
					Мы&nbsp;снимаем панорамы
					<br>
					и&nbsp;публикуем их&nbsp;на&nbsp;Яндекс.Картах
				</h1>
				<div class="introduction__text-wrap">
					<p class="introduction__text">
						Людям часто бывает важно, как выглядит организация изнутри&nbsp;&mdash; например, когда они выбирают ресторан для встречи с&nbsp;друзьями, отель в&nbsp;незнакомом городе или фитнес-клуб.
					</p>
					<p class="introduction__text introduction__text_bold">
						Откройте двери для своих клиентов&nbsp;&mdash; добавьте панораму своей организации на&nbsp;Яндекс.Карты.
					</p>
				</div>
			</div>
		</div>
	</section>
	{#/INTRODUCTION BLOCK#}

	{#CTA BLOCK#}
	<section class="cta-block" id="section-cta">
		<div class="cta-block__container container">
			<h2 class="cta-block__title">Есть вопросы? Мы&nbsp;вам перезвоним.</h2>
			<div class="cta-block__form">
				<form id="callback">
					<input type="hidden" name="form" value="callback">
					<div class="cta-block__input-holder">
						<label for="" class="cta-block__input-name">Имя</label>
						<input type="text" name="name" class="cta-block__input">
						<p class="cta-block__input-error" style="display: none;">Пожалуйста, укажите ваше&nbsp;имя</p>
					</div>
					<div class="cta-block__input-holder">
						<label for="" class="cta-block__input-name">Телефон</label>
						<input type="text" name="phone" class="cta-block__input">
						<p class="cta-block__input-error" style="display: none;">Пожалуйста, укажите ваш номер телефона</p>
					</div>
					<button class="cta-block__submit btn btn_no-shadow btn_big">
						<span class="btn__overlay"></span>
						<span class="btn__text">Заказать звонок</span>
					</button>
					<div id="success-callback" class="form__submit-success form__submit-success_cta" style="display: none;">
						<i class="form__submit-success-icon"></i>
						Ожидайте звонок в&nbsp;течение часа
					</div>
				</form>
			</div>
			<p class="cta-block__text">
				Расскажем все о&nbsp;съемке панорам и&nbsp;рассчитаем стоимость вашего проекта.
			</p>
		</div>
	</section>
	{#/CTA BLOCK#}

	{#BENEFITS#}
	<section class="benefits container" id="benefits">
		<h2 class="benefits__title">Выгода для бизнеса</h2>

		<div class="benefits__list">

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					<span class="benefits__highlighted">Клиенты легко найдут вас</span>
				</p>
				<p class="benefits__item-text">
					До&nbsp;вас сложно добраться?
					<br>
					Это больше не&nbsp;будет проблемой
					<br>
					для ваших клиентов.
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item benefits__item_circle">
				<p class="benefits__item-title">
					20 млн
				</p>

				<p class="benefits__item-text">
					столько потенциальных
					<br>
					клиентов смогут увидеть
					<br>
					вас на&nbsp;Яндекс.Картах
					<br>
					ежемесячно.
					<i class="benefits__item-help" title="Источник данных: TNS Web Index. Россия, пользователи интернета от 12 до 64 лет, без учета мобильных устройств.">?</i>
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					Клиенты оценят атмосферу
					<br>
					компании и&nbsp;<span class="benefits__highlighted">сделают выбор
					<br>
					в&nbsp;вашу пользу</span>
				</p>
				<p class="benefits__item-text">
					Подготовьте помещение, чтобы
					<br>
					показать все преимущества
					<br>
					перед конкурентами
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					Простое размещение
					<br>
					виртуального тура на&nbsp;сайте
				</p>
				<p class="benefits__item-text">
					Виртуальный тур&nbsp;&mdash; это
					<br>
					показатель открытости вашего
					<br>
					бизнеса и&nbsp;заботы о&nbsp;потребностях
					<br>
					вашего клиента.
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					Выделиться среди
					<br>
					конкурентов на
					<br>
					Яндекс.Картах
				</p>
				<p class="benefits__item-text">
					Внесем максимум информации
					<br>
					в&nbsp;карточку вашей организации.
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					Повышение узнаваемости
					<br>
					вашего бренда
				</p>
				<p class="benefits__item-text">
					Виртуальный тур&nbsp;&mdash; это
					<br>
					имиджевая составляющая
					<br>
					бренда.
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					Повышение лояльности
					<br>
					клиентов
				</p>
				<p class="benefits__item-text">
					Виртуальный тур&nbsp;&mdash; это
					<br>
					показатель открытости вашего
					<br>
					бизнеса и&nbsp;заботы о&nbsp;потребностях
					<br>
					вашего клиента.
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item benefits__item_circle">
				<p class="benefits__item-title">
					41 %
				</p>

				<p class="benefits__item-text">
					клиентов, изучив компанию
					<br>
					на&nbsp;картах, отправятся
					<br>
					к&nbsp;вам за&nbsp;покупкой
					<i class="benefits__item-help" title="согласно исследованиям Oxera">?</i>
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item benefits__item_circle">
				<p class="benefits__item-title">
					3-е место
				</p>

				<p class="benefits__item-text">
					Яндекс.Карты 3-е по
					<br>
					популярности мобильное
					<br>
					приложение.
					<i class="benefits__item-help" title="согласно исследованиям TNS в России">?</i>
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					Легкая публикация панорам
					<br>
					в&nbsp;социальных сетях
				</p>
				<p class="benefits__item-text">
					Поможет вашим подписчикам
					<br>
					ближе познакомиться с&nbsp;вашим
					<br>
					бизнесом. Необычный контент
					<br>
					привлечет дополнительное
					<br>
					внимание к&nbsp;вашей странице.
				</p>
			</div>
			{#/ITEM#}

			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					<span class="benefits__highlighted">Бесплатное и&nbsp;бессрочное
						<br>
						размещение
					</span>
					на&nbsp;сервисах
					<br>
					Яндекс
				</p>
				<p class="benefits__item-text">
					Ваша единственная возможность
					<br>
					разместить виртуальный
					<br>
					тур на&nbsp;Яндекс.Картах
				</p>
			</div>
			{#/ITEM#}


			{#ITEM#}
			<div class="benefits__item">
				<p class="benefits__item-bold">
					Покажите реальные преимущества
				</p>
				<p class="benefits__item-text">
					Ваш интерьер в&nbsp;мельчайших<br>
					деталях, без ретуши.
				</p>
			</div>
			{#/ITEM#}

		</div>
	</section>
	{#/BENEFITS#}

	{#EXAMPLE BLOCK#}
	<section class="example-block" id="samples">
		<div class="example-block__container container">
			<h2 class="example-block__title">Примеры проектов</h2>
			<div class="example-block__links-list">
				<a href="#" class="example-block__links-item js-example-tab-link example-block__links-item_active" data-tab="#example-tab_1">автосалон</a>
				<a href="#" class="example-block__links-item js-example-tab-link" data-tab="#example-tab_2">ресторан</a>
				<a href="#" class="example-block__links-item js-example-tab-link" data-tab="#example-tab_3">жилой комплекс</a>
				<a href="#" class="example-block__links-item js-example-tab-link" data-tab="#example-tab_4">салон красоты</a>
				<a href="#" class="example-block__links-item js-example-tab-link" data-tab="#example-tab_5">торговый центр</a>
				<a href="#" class="example-block__links-item js-example-tab-link" data-tab="#example-tab_6">магазин</a>
				<a href="#" class="example-block__links-item js-example-tab-link" data-tab="#example-tab_7">кафе</a>
			</div>
			<div class="example-block__pans">
				<div class="example-block__example-wrap js-example-tab" id="example-tab_1">
					<div id="yandex-panorama_1" class="example-block__panorama">
					</div>

					<div class="example-block__info">
						<h3 class="example-block__info-title">Автосалон Лексус-Измайлово</h3>
						<div class="example-block__info-wrap clearfix">
							<div class="example-block__info-person">
								<div class="example-block__info-person-image">
								</div>
								<p class="example-block__info-person-name"></p>
								<p class="example-block__info-person-post">
								</p>
							</div>
							<div class="example-block__stat">
								<p class="example-block__stat-percent"></p>
								<p class="example-block__stat-text">

								</p>
							</div>
							<div class="example-block__center">
								<p class="example-block__center-text">
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="example-block__example-wrap hidden-element js-example-tab" id="example-tab_2">
					<div id="yandex-panorama_2" class="example-block__panorama">
					</div>

					<div class="example-block__info">
						<h3 class="example-block__info-title">Ресторан City Space Bar & Restaurant</h3>
						<div class="example-block__info-wrap clearfix">
							<div class="example-block__info-person">
								<div class="example-block__info-person-image">
								</div>
								<p class="example-block__info-person-name"></p>
								<p class="example-block__info-person-post">
								</p>
							</div>
							<div class="example-block__stat">
								<p class="example-block__stat-percent"></p>
								<p class="example-block__stat-text">
								</p>
							</div>
							<div class="example-block__center">
								<p class="example-block__center-text">
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="example-block__example-wrap hidden-element js-example-tab" id="example-tab_3">
					<div id="yandex-panorama_3" class="example-block__panorama">
					</div>

					<div class="example-block__info">
						<h3 class="example-block__info-title">Жилой комплекс «Загородный квартал»</h3>
						<div class="example-block__info-wrap clearfix">
							<div class="example-block__info-person">
								<div class="example-block__info-person-image">
								</div>
								<p class="example-block__info-person-name"></p>
								<p class="example-block__info-person-post">
								</p>
							</div>
							<div class="example-block__stat">
								<p class="example-block__stat-percent"></p>
								<p class="example-block__stat-text">
								</p>
							</div>
							<div class="example-block__center">
								<p class="example-block__center-text">
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="example-block__example-wrap hidden-element js-example-tab" id="example-tab_4">
					<div id="yandex-panorama_4" class="example-block__panorama">
					</div>

					<div class="example-block__info">
						<h3 class="example-block__info-title">Центр красоты Велла Долорес</h3>
						<div class="example-block__info-wrap clearfix">
							<div class="example-block__info-person">
								<div class="example-block__info-person-image">
								</div>
								<p class="example-block__info-person-name"></p>
								<p class="example-block__info-person-post">
								</p>
							</div>
							<div class="example-block__stat">
								<p class="example-block__stat-percent"></p>
								<p class="example-block__stat-text">
								</p>
							</div>
							<div class="example-block__center">
								<p class="example-block__center-text">
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="example-block__example-wrap hidden-element js-example-tab" id="example-tab_5">
					<div id="yandex-panorama_5" class="example-block__panorama">
					</div>

					<div class="example-block__info">
						<h3 class="example-block__info-title">Торговый центр СпортЕх</h3>
						<div class="example-block__info-wrap clearfix">
							<div class="example-block__info-person">
								<div class="example-block__info-person-image">
								</div>
								<p class="example-block__info-person-name"></p>
								<p class="example-block__info-person-post">
								</p>
							</div>
							<div class="example-block__stat">
								<p class="example-block__stat-percent"></p>
								<p class="example-block__stat-text">

								</p>
							</div>
							<div class="example-block__center">
								<p class="example-block__center-text">

								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="example-block__example-wrap hidden-element js-example-tab" id="example-tab_6">
					<div id="yandex-panorama_6" class="example-block__panorama">
					</div>

					<div class="example-block__info">
						<h3 class="example-block__info-title">Магазин Brandshop</h3>
						<div class="example-block__info-wrap clearfix">
							<div class="example-block__info-person">
								<div class="example-block__info-person-image">
								</div>
								<p class="example-block__info-person-name"></p>
								<p class="example-block__info-person-post">
								</p>
							</div>
							<div class="example-block__stat">
								<p class="example-block__stat-percent"></p>
								<p class="example-block__stat-text">
								</p>
							</div>
							<div class="example-block__center">
								<p class="example-block__center-text">
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="example-block__example-wrap hidden-element js-example-tab" id="example-tab_7">
					<div id="yandex-panorama_7" class="example-block__panorama">
					</div>

					<div class="example-block__info">
						<h3 class="example-block__info-title">Сеть кафе быстрого питания &laquo;Вкус Детства&raquo;</h3>
						<div class="example-block__info-wrap clearfix">
							<div class="example-block__info-person">
								<div class="example-block__info-person-image">
									<img src="img/michail_nezik.png" alt="" class="example-block__info-person-img">
								</div>
								<p class="example-block__info-person-name">Алексей Шевченко</p>
								<p class="example-block__info-person-post">
									Сеть кафе быстрого<br>
								</p>
							</div>
							<div class="example-block__stat">
								<p class="example-block__stat-percent"></p>
								<p class="example-block__stat-text">
									Работа с&nbsp;компанией нек4 была очень удобной и&nbsp;комфортной для наших сотрудников.
								</p>
							</div>
							<div class="example-block__center">
								<p class="example-block__center-text">
									В&nbsp;связи с&nbsp;тем, что нашим бизнесом является общепит, для наших гостей является очень важным получение предварительной информации о&nbsp;тех местах, где они могли&nbsp;бы перекусить с&nbsp;детьми на&nbsp;трассе, в&nbsp;автомобильных путешествиях. В&nbsp;связи с&nbsp;этим мы&nbsp;посчитали очень важной возможность предварительного &laquo;посещения&raquo; наших заведений с&nbsp;помощью виртуальных туров. Уверены, что такое посещение убедит потенциальных посетителей зайти к&nbsp;нам.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	{#/EXAMPLE BLOCK#}

	{#CLIENTS#}
	<section class="clients-block container" id="clients">
		<h2 class="clients-block__title">Клиенты</h2>

		<p class="clients-block__intro">
			Уже <b class="clients-block__intro-bold">538 компаний</b> разместили панорамы на&nbsp;Яндекс.Картах
		</p>

		<div class="clients-block__list">
			<a href="http://holidayinn.com/" target="_blank" rel="nofollow" class="clients-block__item">
				<img src="img/logo_holiday-inn.png" alt="" class="clients-block__item-img">
				<img src="img/logo_holiday-inn@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a href="https://dodopizza.ru/" target="_blank" rel="nofollow" class="clients-block__item">
				<img src="img/logo_dodo-pizza.png" alt="" class="clients-block__item-img">
				<img src="img/logo_dodo-pizza@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a href="http://fsk-lider.ru/" target="_blank" rel="nofollow" class="clients-block__item">
				<img src="img/logo_leader.png" alt="" class="clients-block__item-img">
				<img src="img/logo_leader@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a href="http://www.velostrana.ru/" target="_blank" rel="nofollow" class="clients-block__item">
				<img src="img/logo_velostrana.png" alt="" class="clients-block__item-img">
				<img src="img/logo_velostrana@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a href="http://zub.ru/" rel="nofollow" target="_blank" class="clients-block__item">
				<img src="img/logo_zubru.png" alt="" class="clients-block__item-img">
				<img src="img/logo_zubru@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a href="http://www.yit.ru/" target="_blank" rel="nofollow" class="clients-block__item">
				<img src="img/logo_yit.png" alt="" class="clients-block__item-img">
				<img src="img/logo_yit@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a href="http://cafe-anderson.ru/" target="_blank" class="clients-block__item">
				<img src="img/logo_andersson.png" alt="" class="clients-block__item-img">
				<img src="img/logo_andersson@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_sem.png" alt="" class="clients-block__item-img">
				<img src="img/logo_sem@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_tekta.png" alt="" class="clients-block__item-img">
				<img src="img/logo_tekta@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_dentoel.png" alt="" class="clients-block__item-img">
				<img src="img/logo_dentoel@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_palchiki.png" alt="" class="clients-block__item-img">
				<img src="img/logo_palchiki@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_psn.jpg" alt="" class="clients-block__item-img">
				<img src="img/logo_psn@2x.jpg" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_sportex.png" alt="" class="clients-block__item-img">
				<img src="img/logo_sportex@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_vitasport.png" alt="" class="clients-block__item-img">
				<img src="img/logo_vitasport@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_blanks.png" alt="" class="clients-block__item-img">
				<img src="img/logo_blanks@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_bormental.png" alt="" class="clients-block__item-img">
				<img src="img/logo_bormental@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_eximer.png" alt="" class="clients-block__item-img">
				<img src="img/logo_eximer@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_grill.png" alt="" class="clients-block__item-img">
				<img src="img/logo_grill@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_hoff.png" alt="" class="clients-block__item-img">
				<img src="img/logo_hoff@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_korablik.png" alt="" class="clients-block__item-img">
				<img src="img/logo_korablik@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_ndv.png" alt="" class="clients-block__item-img">
				<img src="img/logo_ndv@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_ocean.png" alt="" class="clients-block__item-img">
				<img src="img/logo_ocean@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_porsche.png" alt="" class="clients-block__item-img">
				<img src="img/logo_porsche@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
			<a target="_blank" class="clients-block__item">
				<img src="img/logo_zatea.png" alt="" class="clients-block__item-img">
				<img src="img/logo_zatea@2x.png" alt="" class="clients-block__item-img clients-block__item-img_2x">
			</a>
		</div>
	</section>
	{#/CLIENTS#}

	{#WORK PROCESS#}
	<section class="work-process" id="process">
		<div class="work-process__container container">
			<div class="work-process__box">
				<h2 class="work-process__title">Как мы работаем</h2>
				<p class="work-process__sub-title">
					Съемка панорам для Яндекс.Карт проводится с&nbsp;помощью специально оборудованного автомобиля, а&nbsp;также с&nbsp;помощью фотокамеры и&nbsp;штатива.
				</p>
				<div class="work-process__list">
					<div class="work-process__item">
						<div class="work-process__item-time">
							1
							<br>
							час
						</div>
						<p class="work-process__item-text">
							Оставьте заявку. Определите
							количество панорам и&nbsp;дату съемки.
						</p>
					</div>
					<div class="work-process__item">
						<div class="work-process__item-time">
							1
							<br>
							день
						</div>
						<p class="work-process__item-text">
							Подготовьте объект к&nbsp;приезду
							<br>
							фотографа. Проконтролируйте процесс.
						</p>
					</div>
					<div class="work-process__item">
						<div class="work-process__item-time">
							1
							<br>
							неделя
						</div>
						<p class="work-process__item-text">
							Посмотрите готовый материал<br>
							перед публикацией.
						</p>
					</div>
					<div class="work-process__item">
						<div class="work-process__item-time">
							1
							<br>
							месяц
						</div>
						<p class="work-process__item-text">
							Публикация данных
							<br>
							на Яндекс.Картах.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	{#/WORK PROCESS#}

	{#DESCRIPTION#}
	<section class="desc-block container" id="sprav">
		<h2 class="desc-block__title">Больше, чем точка на карте</h2>
		<div class="desc-block__text-wrap">
			<p class="desc-block__text">
				Панорамы компаний отображаются в&nbsp;карточках организаций
				на&nbsp;сервисах Яндекса.
			</p>
			<p class="desc-block__text">
				Карточка вашей организации на&nbsp;Яндекс.Картах&nbsp;&mdash; это не&nbsp;просто адрес.
				В&nbsp;ней пользователи могут найти всю необходимую информацию: часы работы, наличие Wi&shy;-Fi и&nbsp;прочие детали, а&nbsp;так&nbsp;же увидеть вашу компанию изнутри с&nbsp;помощью фотографий и&nbsp;панорам.
			</p>
		</div>
		<div class="desc-block__list">
			{#<div class="desc-block__column">
				<div class="desc-block__item">
					<i class="desc-block__item-icon desc-block__item-icon_panorama"></i>
					<p class="desc-block__item-title">Фото и панорама</p>
					<p class="desc-block__item-desc">Поможет оценить внешний вид</p>
				</div>
				<div class="desc-block__item">
					<i class="desc-block__item-icon desc-block__item-icon_metro"></i>
					<p class="desc-block__item-title">Станция метро</p>
					<p class="desc-block__item-desc">Ближайшие станции</p>
				</div>
				<div class="desc-block__item">
					<i class="desc-block__item-icon desc-block__item-icon_creditcard"></i>
					<p class="desc-block__item-title">Способы оплаты</p>
					<p class="desc-block__item-desc">Наличие безналичной оплаты</p>
				</div>
			</div>
			<div class="desc-block__column">
				<img src="img/desc-block-img.jpg" alt="" class="desc-block__column-img">
			</div>
			<div class="desc-block__column">
				<div class="desc-block__item">
					<i class="desc-block__item-icon desc-block__item-icon_time"></i>
					<p class="desc-block__item-title">Режим работы</p>
					<p class="desc-block__item-desc">Часы и режим работы</p>
				</div>
				<div class="desc-block__item">
					<i class="desc-block__item-icon desc-block__item-icon_maps"></i>
					<p class="desc-block__item-title">Маршрут</p>
					<p class="desc-block__item-desc">Поиск маршрута на карте</p>
				</div>
				<div class="desc-block__item">
					<i class="desc-block__item-icon desc-block__item-icon_wifi"></i>
					<p class="desc-block__item-title">Wi-Fi</p>
					<p class="desc-block__item-desc">Наличие бесплатного wi-fi</p>
				</div>
			</div>#}

			<div class="desc-block__image">
				<div class="desc-block__image-inner">

				</div>
			</div>
		</div>
	</section>
	{#/DESCRIPTION#}

	{#REQUEST#}
	<section class="request-block" id="request">
		<div class="request-block__container container">
			<h2 class="request-block__title">Оставить заявку</h2>

			{#FORM#}
			<div class="request-block__form">
				<form id="calc">
					<input type="hidden" name="form" value="calc">
					<div class="form">
						{#<div class="form__input-holder form__input-holder_big">
							<label for="" class="form__input-name">Регион</label>
							<div class="form__input-holder-add">
								<a href="#" class="form__link">Не нашли свой город?</a>
							</div>
							<select class="js-select">
								<option value="">Выберите</option>
								<option value="">Московская область</option>
								<option value="">Санкт-Петербург</option>
								<option value="">Ленинградская область</option>
								<option value="">Нижний Новгород</option>
								<option value="">Нижегородская область</option>
							</select>
						</div>#}

						<div class="form__input-holder">
							<label for="" class="form__input-name">Количество помещений</label>
							<input id="rooms" name="rooms" type="text" class="form__input">
							<p class="form__error" style="display: none;">Количество помещений должно быть числом</p>
						</div>

						<div class="form__input-holder">
							<label for="" class="form__input-name">Общая площадь</label>
							<input id="area" name="area" type="text" class="form__input">
							<p class="form__error" style="display: none;">Общая площадь должна быть числом</p>
						</div>

						<div class="form__input-holder">
							<label for="" class="form__input-name">Контактное лицо</label>
							<input type="text" name="name" class="form__input">
							<p class="form__error" style="display: none;">Пожалуйста, укажите ваше имя</p>
						</div>

						<div class="form__input-holder">
							<label for="" class="form__input-name">Телефон</label>
							<input type="text" name="phone" class="form__input">
							<p class="form__error" style="display: none;">Пожалуйста, укажите ваш номер телефона</p>
						</div>

						<div class="form__input-holder">
							<label for="" class="form__input-name">Электронная почта</label>
							<input type="text" name="email" class="form__input">
							<p class="form__error" style="display: none;">Электронная почта не указана и/или указана неверно</p>
						</div>
					</div>

					<div class="request-block__calculator">
						<p class="request-block__calculator-title">Примерная стоимость </p>
						<div class="request-block__calculator-price">
							<span id="price">0</span>
							<span>руб.</span>
						</div>
						<div class="request-block__calculator-text">
							Реальная стоимость может оказаться меньше или больше оценочной.
							<br>
							Для уточнения цены с&nbsp;вами в&nbsp;ближайшее время свяжется ваш личный менеджер.
						</div>
					</div>

					<input id="price_input" type="hidden" name="price">
					<div class="form__submit">
						<button type="submit" class="btn btn_big">
							<span class="btn__overlay"></span>
							<span class="btn__text">ОСТАВИТЬ ЗАЯВКУ</span>
						</button>

						<div id="success-calc" class="form__submit-success" style="display: none;">
							<i class="form__submit-success-icon"></i>
							Ожидайте звонок в течение часа
						</div>
					</div>
				</form>
			</div>
			{#/FORM#}

			{#INFO#}
			<div class="request-block__info">
				<p class="request-block__info-title">Что мы сделаем:</p>
				<div class="request-block__info-columns">
					<div class="request-block__info-col">
						<ul class="request-block__info-list">
							<li class="request-block__info-item">подробно проконсультируем вас о&nbsp;том, как подготовиться к&nbsp;съемке</li>
							<li class="request-block__info-item">выберем удобное время съемки</li>
							<li class="request-block__info-item">проведем съемку помещений и&nbsp;улицы перед входом</li>
							<li class="request-block__info-item">склеим и&nbsp;обработаем панорамы, привяжем их&nbsp;к&nbsp;координатам на&nbsp;карте</li>
							<li class="request-block__info-item">покажем вам панорамы перед публикацией</li>
							<li class="request-block__info-item">разместим панорамы на&nbsp;Яндекс.Картах навсегда</li>
							<li class="request-block__info-item">актуализируем информацию в&nbsp;карточке компании</li>
							<li class="request-block__info-item">поможем разместить виртуальных тур на&nbsp;сайте</li>
							<li class="request-block__info-item">расскажем, как опубликовать панораму на&nbsp;Facebook</li>
							<li class="request-block__info-item">по&nbsp;вашему запросу передадим вам картинки отдельным архивом</li>
						</ul>
					</div>
					<div class="request-block__info-col">
						<div class="request-block__info-star-text">
							Если ваш объект имеет культурное
							<br>
							или социальное значение, <a href="mailto: info@neq4.ru" class="request-block__info-link">подайте заявку</a> на проведение некоммерческой съемки.
						</div>
					</div>
				</div>
			</div>
			{#/INFO#}
		</div>
	</section>
	{#/REQUEST#}

	{#ABOUT COMPANY#}
	<section class="about-company container" id="company">
		<h2 class="about-company__title">О компании</h2>
		<p class="about-company__text">
			Мы&nbsp;занимаемся съемкой панорам для Яндекса с&nbsp;2008&nbsp;года.
		</p>
		<ul class="about-company__list">
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_distance"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Отснято более</p>
					<p class="about-company__item-text-line">100&nbsp;000&nbsp;км</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_hill"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Эверест в&nbsp;мае 2016</p>
					<p class="about-company__item-text-line">8&nbsp;848&nbsp;м над уровнем моря</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_around"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Отснята</p>
					<p class="about-company__item-text-line">2 000 000-я панорама</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_sea"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Съемки Босфорского пролива с&nbsp;воды летом 2011</p>
					<p class="about-company__item-text-line">0&nbsp;м над уровнем моря</p>
				</div>
			</li>
			<li class="about-company__item clearfix">
				<i class="about-company__item-icon about-company__item-icon_globe"></i>
				<div class="about-company__item-text-wrap">
					<p class="about-company__item-text-line">Проведены съемки</p>
					<p class="about-company__item-text-line">в&nbsp;6&nbsp;странах и&nbsp;283 городах</p>
				</div>
			</li>
		</ul>
		<a href="http://neq4.ru/about" class="about-company__learn-more">УЗНАТЬ БОЛЬШЕ</a>
	</section>
	{#/ABOUT COMPANY#}

	{#PARTNERS#}
	<section class="partners-block container hidden-element" id="section-partners">
		<h2 class="partners-block__title">Партнеры</h2>
		<div class="partners-block__list">
			<a href="#" class="partners-block__item">
				<img src="img/logo-yandex-realty.png" alt="" class="partners-block__item-img">
				<img src="img/logo-yandex-realty@2x.png" alt="" class="partners-block__item-img partners-block__item-img_2x">
			</a>
			<a href="#" class="partners-block__item">
				<img src="img/logo-zhoochka.png" alt="" class="partners-block__item-img">
				<img src="img/logo-zhoochka@2x.png" alt="" class="partners-block__item-img partners-block__item-img_2x">
			</a>
			<a href="#" classck="partners-block__item">
				<img src="img/logo-restaurant-rating.png" alt="" class="partners-block__item-img">
				<img src="img/logo-restaurant-rating@2x.png" alt="" class="partners-block__item-img partners-block__item-img_2x">
			</a>

		</div>
	</section>
	{#/PARTNERS#}

{% endblock %}
