<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% block title %}
	{% endblock %}

	<!-- STYLES -->
	<link rel="stylesheet" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<!-- comagic start -->
<script type="text/javascript">
var __cs = __cs || [];
__cs.push(["setCsAccount", "EdK4Er4ik31tcNwfFXVgMR_UZrM2WHyz"]);
__cs.push(["setCsHost", "//server.comagic.ru/comagic"]);
</script>
<script type="text/javascript" async src="//app.comagic.ru/static/cs.min.js"></script>
	<!-- comagic end -->

</head>

<body>

<div class="preaload-images"></div>

<div class="all-wrap">

	<div class="scroll-button" id="scroll-button">
		<a href="#request" class="btn js-smooth-scroll">
			<span class="btn__overlay"></span>
			<span class="btn__text">ОСТАВИТЬ ЗАЯВКУ</span>
		</a>
	</div>

	{#HEADER#}
	<header class="header">
		<div class="header__container container clearfix">
			<a href="http://neq4.ru" class="header__logo">
				<img src="img/logo.svg" alt="neq4" class="header__logo-img">
			</a>

			<div class="header__contacts">
				<div class="header__phones">
					<p class="header__phone">+7 495 995-58-24</p>
					<div class="header__sub-phone">
						<span class="header__worktime">В&nbsp;будни с&nbsp;10:00 до&nbsp;20:00</span>
						<a href="#section-cta" class="header__call-link js-smooth-scroll">Заказать звонок</a>
					</div>
				</div>
				<div class="header__buttons">
					<div class="header__button">
						<a href="#request" class="header__button-link btn js-smooth-scroll">
							<span class="btn__overlay"></span>
							<span class="btn__text">ОСТАВИТЬ ЗАЯВКУ</span>
						</a>
					</div>
					<a target="_blank" href="http://play.neq4.ru" class="header__contacts-profile" title="Личный кабинет">

					</a>
				</div>
			</div>
		</div>
	</header>
	{#/HEADER#}

	{#MAIN CONTENT#}
	<section class="main-content">
		{% block content %}
		{% endblock %}
	</section>
	{#/MAIN CONTENT#}

	{#FOOTER#}
	<footer class="footer" id="docs">
		<div class="footer__container container clearfix">
			<div class="footer__main">
				<div class="footer__column">
					<p class="footer__column-company-name">© 2006–2016 нек4</p>
					<div class="footer__column-address">
						<p class="footer__column-address-line">119270, Москва, </p>
						<p class="footer__column-address-line">Лужнецкая</p>
						<p class="footer__column-address-line">набережная, </p>
						<p class="footer__column-address-line">дом 10А, </p>
						<p class="footer__column-address-line">строение 3</p>
					</div>
				</div>
				<div class="footer__column">
					<p class="footer__column-phone">+7 495 995-58-24</p>
					<div class="footer__column-mail-wrap">
						<a href="mailto: info@neq4.ru" class="footer__column-mail">info@neq4.ru</a>
					</div>
					<div class="footer__column-feedback-wrap">
						<a href="http://neq4.ru/about/contact#write-us" class="footer__column-feedback">Обратная связь</a>
					</div>

				</div>
				<div class="footer__column">
					<div class="footer__column-menu-item">
						<a href="http://neq4.ru/press" class="footer__column-menu-link" target="_blank">Пресса</a>
					</div>
					<div class="footer__column-menu-item">
						<a href="http://neq4.ru/about" class="footer__column-menu-link" target="_blank">О компании</a>
					</div>
					<div class="footer__column-menu-item">
						<a href="http://neq4.ru/tech" class="footer__column-menu-link" target="_blank">Технологии</a>
					</div>
					<div class="footer__column-menu-item">
						<a href="http://neq4.ru/about/jobs" class="footer__column-menu-link" target="_blank">Вакансии</a>
					</div>
				</div>
			</div>
			<div class="footer__documents">
				<div class="footer__documents-item">
					<a href="http://neq4.ru/neq4-yandex-dogovor.pdf" target="_blank" class="footer__documents-link">Договор о съемке панорам для Яндекс.Карт</a>
					<p class="footer__documents-size">133 КБ</p>
				</div>
				<div class="footer__documents-item">
					<a href="http://neq4.ru/neq4_yandex_publication.pdf" target="_blank" class="footer__documents-link">Договор на публикацию панорам на Яндекс.Картах</a>
					<p class="footer__documents-size">144 КБ</p>
				</div>
				<div class="footer__documents-item">
					<a href="http://neq4.ru/neq4-yandex-rules.pdf" target="_blank" class="footer__documents-link">Правила съемки панорам для Яндекс.Карт</a>
					<p class="footer__documents-size">113 КБ</p>
				</div>
				<div class="footer__documents-item">
					<a href="http://neq4.ru/neq4_yandex_publication-rules.pdf" target="_blank" class="footer__documents-link">Требования к панорамам на публикацию</a>
					<p class="footer__documents-size">105 КБ</p>
				</div>
				<div class="footer__documents-item">
					<a href="http://neq4.ru/neq4-yandex-akt.docx" target="_blank" class="footer__documents-link">Форма акта сдачи-приемки услуг</a>
					<p class="footer__documents-size">78 КБ</p>
				</div>
				<div class="footer__documents-item">
					<a href="http://neq4.ru/neq4_rekvizity.txt" target="_blank" class="footer__documents-link">Реквизиты</a>
					<p class="footer__documents-size">1 КБ</p>
				</div>
			</div>
		</div>
	</footer>
	{#/FOOTER#}

	{#MENU#}
	<aside class="side-menu" id="side-menu">
		<div class="side-menu__item">
			<a href="#about" class="side-menu__item-link js-menu-link">
				Об услуге
			</a>
		</div>
		<div class="side-menu__item">
			<a href="#benefits" class="side-menu__item-link js-menu-link">
				Выгоды
			</a>
		</div>
		<div class="side-menu__item">
			<a href="#samples" class="side-menu__item-link js-menu-link">
				Примеры проектов
			</a>
		</div>
		<div class="side-menu__item">
			<a href="#clients" class="side-menu__item-link js-menu-link">
				Клиенты
			</a>
		</div>
		<div class="side-menu__item">
			<a href="#process" class="side-menu__item-link js-menu-link">
				Процесс
			</a>
		</div>
		<div class="side-menu__item">
			<a href="#sprav" class="side-menu__item-link js-menu-link">
				Больше чем точка
			</a>
		</div>
		<div class="side-menu__item">
			<a href="#request" class="side-menu__item-link js-menu-link">
				Оставить заявку
			</a>
		</div>
		<div class="side-menu__item">
			<a href="#company" class="side-menu__item-link js-menu-link">
				О компании
			</a>
		</div>
		{#<div class="side-menu__item">
			<a href="#section-partners" class="side-menu__item-link js-menu-link">
				Партнеры
			</a>
		</div>#}
		<div class="side-menu__item">
			<a href="#docs" class="side-menu__item-link js-menu-link">
				Документы
			</a>
		</div>
	</aside>
	{#/MENU#}

</div>

{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=panorama.isSupported,panorama.locate,panorama.createPlayer,panorama.Player"></script>
<script src="scripts/app.min.js"></script>

<script>
	ymaps.ready(function () {
		if (!ymaps.panorama.isSupported()) {
			return;
		}

		// panorama 1
		var locateRequest1 = ymaps.panorama.locate([55.7847791451, 37.8714073888]);

		locateRequest1.then(
				function (panoramas) {
					if (panoramas.length) {
						var player = new ymaps.panorama.Player('yandex-panorama_1', panoramas[0], {
							controls: ['zoomControl', 'fullscreenControl'],
							scrollZoomBehavior: false,
							direction: [128, 0]
						});
					}
					else {
						console.log("Для заданной точки не найдено ни одной панорамы.");
					}
				},
				function (err) {
					console.log("При попытке получить панораму возникла ошибка.");
				}
		);

		// panorama 2
		var locateRequest2 = ymaps.panorama.locate([55.7333732264, 37.6445455774]);

		locateRequest2.then(
				function (panoramas) {
					if (panoramas.length) {
						var player2 = new ymaps.panorama.Player('yandex-panorama_2', panoramas[0], {
							controls: ['zoomControl', 'fullscreenControl'],
							scrollZoomBehavior: false,
							direction: [41, 0]
						});
					}
					else {
						console.log("Для заданной точки не найдено ни одной панорамы.");
					}
				},
				function (err) {
					console.log("При попытке получить панораму возникла ошибка.");
				}
		);

		// panorama 3
		var locateRequest3 = ymaps.panorama.locate([55.9403817581, 37.4754296048]);

		locateRequest3.then(
				function (panoramas) {
					if (panoramas.length) {
						var player2 = new ymaps.panorama.Player('yandex-panorama_3', panoramas[0], {
							controls: ['zoomControl', 'fullscreenControl'],
							scrollZoomBehavior: false,
							direction: [236, 16]
						});
					}
					else {
						console.log("Для заданной точки не найдено ни одной панорамы.");
					}
				},
				function (err) {
					console.log("При попытке получить панораму возникла ошибка.");
				}
		);

		// panorama 4
		var locateRequest4 = ymaps.panorama.locate([55.746709641, 37.5975005435]);

		locateRequest4.then(
				function (panoramas) {
					if (panoramas.length) {
						var player2 = new ymaps.panorama.Player('yandex-panorama_4', panoramas[0], {
							controls: ['zoomControl', 'fullscreenControl'],
							scrollZoomBehavior: false,
							direction: [85, 0]
						});
					}
					else {
						console.log("Для заданной точки не найдено ни одной панорамы.");
					}
				},
				function (err) {
					console.log("При попытке получить панораму возникла ошибка.");
				}
		);

		// panorama 5
		var locateRequest5 = ymaps.panorama.locate([55.7380541399, 37.7172209429]);

		locateRequest5.then(
				function (panoramas) {
					if (panoramas.length) {
						var player2 = new ymaps.panorama.Player('yandex-panorama_5', panoramas[0], {
							controls: ['zoomControl', 'fullscreenControl'],
							scrollZoomBehavior: false,
							direction: [-106, 0]
						});
					}
					else {
						console.log("Для заданной точки не найдено ни одной панорамы.");
					}
				},
				function (err) {
					console.log("При попытке получить панораму возникла ошибка.");
				}
		);

		// panorama 6
		var locateRequest6 = ymaps.panorama.locate([55.7678464937, 37.6185952131]);

		locateRequest6.then(
				function (panoramas) {
					if (panoramas.length) {
						var player2 = new ymaps.panorama.Player('yandex-panorama_6', panoramas[0], {
							controls: ['zoomControl', 'fullscreenControl'],
							scrollZoomBehavior: false,
							direction: [12, 0]
						});
					}
					else {
						console.log("Для заданной точки не найдено ни одной панорамы.");
					}
				},
				function (err) {
					console.log("При попытке получить панораму возникла ошибка.");
				}
		);

		// panorama 7
		var locateRequest7 = ymaps.panorama.locate([55.3846656636, 36.7831028803]);


		locateRequest7.then(
				function (panoramas) {
					if (panoramas.length) {
						var player2 = new ymaps.panorama.Player('yandex-panorama_7', panoramas[0], {
							controls: ['zoomControl', 'fullscreenControl'],
							scrollZoomBehavior: false,
							direction: [61, 0]
						});
					}
					else {
						console.log("Для заданной точки не найдено ни одной панорамы.");
					}
				},
				function (err) {
					console.log("При попытке получить панораму возникла ошибка.");
				}
		);

	});
</script>
{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22611397 = new Ya.Metrika({
                    id:22611397,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }

		$(document).on('formSent', function (event, category, action) {
			w.yaCounter22611397.reachGoal(action);
		});
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/22611397" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1346961-1', 'auto');
  ga('send', 'pageview');

  $(document).on('formSent', function (event, category, action) {
    ga('send', 'event', category, action, 'Zayavka_otpravlena');
  });
</script>



</body>
</html>