.form {
	// LABEL
	&__input-name {
		display: block;

		color: #8a8a8a;
		font-size: 21px;
		.regular();
	}

	// INPUT HOLDER
	&__input-holder {
		width: 280px;
		display: inline-block;
		vertical-align: top;
		margin-right: 27px - 4px;
		margin-bottom: 52px;
		position: relative;

		&_big {
			width: 484px;
		}
	}

	// INPUT
	&__input {
		display: block;
		width: 100%;
		padding: 0;
		height: 58px;
		border: none;
		border-bottom: 1px solid #222;
		border-radius: 0;
		-webkit-appearance: none;
		background: none;

		line-height: normal !important;
		color: #222;
		font-size: 21px;
		.regular();

		&:focus {
			//background-color: #fcfbfa;
			//border-color: #a99151;
			//box-shadow: inset 1px 1px 1px rgba(69, 63, 33, 0.32);
		}

		&::-moz-placeholder {
			opacity: 1;
			color: #222;
		}
		&::-webkit-input-placeholder {
			opacity: 1;
			color: #222;
		}
		&:-ms-input-placeholder {
			opacity: 1;
			color: #222;
		}
	}

	&__input-holder-add {
		position: absolute;
		right: 0;
		top: 4px;
	}
	&__link {
		font-size: 16px;
		.regular();
		text-decoration: none;
		.blue-link-green-hover();
	}

	&__error {
		color: #ff2b2a;
		font-size: 14px;
		.regular();
		line-height: 24px;
	}

	// TEXTAREA
	&__textarea {
		display: block;
		width: 100%;
		height: 150px;
		border: 1px solid transparent;
		padding: 8px;
		border-radius: 0;

		background-color: #f1efe7;
		box-shadow: inset 1px 1px 1px rgba(69, 63, 33, 0.32);

		color: #21252e;
		.regular();
		font-size: 15px;
		-webkit-appearance: none;

		&:focus {
			background-color: #fcfbfa;
			border-color: #a99151;
			box-shadow: inset 1px 1px 1px rgba(69, 63, 33, 0.32);
		}


		&::-moz-placeholder {
			opacity: 1;
			color: #21252e;
		}
		&::-webkit-input-placeholder {
			opacity: 1;
			color: #21252e;
		}
		&:-ms-input-placeholder {
			opacity: 1;
			color: #21252e;
		}
		&.wpcf7-not-valid {
			border-color: #d21e1d;
		}
	}

	&__submit {

	}
	&__submit-success-icon {
		.svg-icon('icon-tick-after-send', 14px, 14px);
		display: inline-block;
		vertical-align: 0;
		margin-right: 6px - 4px;
	}
	&__submit-success {
		display: inline-block;
		vertical-align: middle;
		color: #5acc3a;
		font-size: 16px;
		.semi-bold();
		margin-left: 24px - 4px;
		&_cta {
			vertical-align: -38px;
		}
	}
}

@media screen and (max-width: 770px) {
	.form {
		&__input-holder {
			display: block;
			&_big {
				width: 444px;
			}
		}
		&__submit-success {
			display: block;
			margin-left: 0;
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 500px) {
	.form {
		&__input-holder {
			width: 280px;
		}
		&__input-holder-add {
			top: 0;
		}
		&__link {
			font-size: 12px;
		}

		// LABEL
		&__input-name {
			font-size: 16px;
		}

		// INPUT
		&__input {
			padding: 0;
			height: 38px;
			font-size: 16px;
		}
	}
}