.side-menu {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 96px;
	background-color: rgba(45, 45, 45, 0.65);
	.transition(all .2s ease);
	padding: 24px 7px;
	z-index: 20;
	opacity: 0;
	&:hover {
		opacity: 1;
	}
	&.visible {
		opacity: 1;
	}

	&__item {
		margin-bottom: 25px;
		&:nth-child(1) {
			margin-bottom: 69px;
		}
		&:nth-child(2) {
			margin-bottom: 45px;
		}
		&:nth-child(3) {
			margin-bottom: 30px;
		}
		&:nth-child(4) {
			margin-bottom: 30px;
		}
		&:nth-child(5) {
			margin-bottom: 54px;
		}
		&:nth-child(6) {
			margin-bottom: 57px;
		}
		&:nth-child(7) {
			margin-bottom: 30px;
		}
		&:nth-child(8) {
			margin-bottom: 30px;
		}

	}
	&__item-link {
		color: rgba(255, 255, 255, 0.8);
		font-size: 11px;
		.regular();
		line-height: 15px;
		text-decoration: none;
		&.active {
			color: white;
			.bold();
		}
		&:hover {
			color: white;
		}
	}
}

@media screen and (max-width: 770px) {
	.side-menu {
		display: none;
	}
}