.cta-block {
	background: #2d2d2d;
	padding-top: 56px;
	padding-bottom: 66px;
	margin-bottom: 150px;

	&__container {

	}
	&__title {
		color: white;
		font-size: 34px;
		.bold();
		margin-bottom: 34px;
	}
	&__form {
		margin-bottom: 30px;
	}

	&__input-holder {
		display: inline-block;
		vertical-align: top;
		margin-right: 26px;
		width: 280px;
		margin-bottom: 26px;
	}
	&__input-name {
		display: block;
		color: #8a8a8a;
		font-size: 21px;
		.regular();
	}
	&__input {
		background: transparent;
		border: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		width: 100%;
		padding-bottom: 15px;
		height: 57px;
		-webkit-appearance: none;
		border-radius: 0;

		color: white;
		font-size: 21px;
		.regular();
	}
	&__input-error {
		color: #ff2b2a;
		font-size: 14px;
		.regular();
		line-height: 32px;
	}
	&__submit {
		display: inline-block;
		vertical-align: top;
		margin-top: 18px;
	}
	&__text {
		color: white;
		.regular();
		font-size: 16px;
	}
}

@media screen and (max-width: 770px) {
	.cta-block {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 100px;
		&__container {
		}
		&__title {
			font-size: 30px;
			margin-bottom: 44px;
			line-height: 1.3;
		}
		&__form {
			margin-bottom: 30px;
		}

		&__input-holder {
			display: block;
			vertical-align: bottom;
			margin-right: 0;
			margin-bottom: 30px;
		}


	}
}

@media screen and (max-width: 500px) {
	.cta-block {
		margin-bottom: 70px;
		&__input-holder {
			display: block;
			vertical-align: bottom;
			margin-right: 0;
			margin-bottom: 40px;
		}

		&__input-name {
			font-size: 16px;
		}
		&__input {
			height: 37px;
			font-size: 16px;
		}

		&__text {
			font-size: 14px;
			line-height: 1.3;
		}
	}
}