.example-block {
	margin-bottom: 150px;

	&__container {

	}
	&__title {
		color: #111;
		font-size: 55px;
		.light();
		margin-bottom: 42px;
	}
	&__links-list {
		text-align: left;
		margin-bottom: 7px;
	}
	&__links-item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 22px;
		margin-bottom: 22px;

		color: #04b;
		letter-spacing: 1px;
		font-size: 14px;
		.semi-bold();
		text-decoration: none;
		padding-bottom: 4px;
		border-bottom: 2px solid transparent;
		text-transform: uppercase;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			border-bottom-color: rgba(0, 68, 187, 0.25);
		}
		&_active {
			border-bottom-color: #04b;
			&:hover {
				border-bottom-color: #04b;
			}
		}
	}

	&__example-wrap {
		position: relative;
	}
	&__panorama {
		height: 492px;
		* {
			.box-sizing(content-box);
		}
	}
	&__info {
		margin-top: 43px;
	}
	&__info-title {
		color: #222;
		font-size: 34px;
		.bold();
		margin-bottom: 28px;
	}
	&__info-wrap {

	}

	&__info-person {
		float: left;
		width: 17%;
		margin-top: 5px;
	}
	&__info-person-image {
		margin-bottom: 21px;
	}
	&__info-person-name {
		color: #1a1a1a;
		font-size: 14px;
		.bold();
		margin-bottom: 7px;
	}
	&__info-person-post {
		color: #1a1a1a;
		font-size: 14px;
		.regular();
		line-height: 1.5;
	}

	&__stat {
		float: right;
		width: 32%;
	}
	&__stat-percent {
		color: #111;
		.bold();
		font-size: 34px;
		margin-bottom: 6px;
	}
	&__stat-text {
		color: #222;
		.regular();
		font-size: 21px;
		line-height: 1.7;
	}
	&__center {
		margin-left: 17%;
		margin-right: calc(~"32% + 100px");
	}
	&__center-text {
		color: #1a1a1a;
		.regular();
		font-size: 16px;
		line-height: 1.5;
	}
}

@media screen and (max-width: 770px) {
	.example-block {
		margin-bottom: 100px;
		&__info-wrap {
			display: flex;
			flex-direction: column;
		}
		&__info-person {
			float: none;
			width: 100%;
			margin-top: 0;
			margin-bottom: 30px;
			order: 10;
		}
		&__stat {
			float: none;
			width: 100%;
			order: 30;
		}
		&__center {
			order: 20;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: 500px) {
	.example-block {
		&__title {
			font-size: 30px;
		}

		&__links-item {
			font-size: 12px;
		}
	}
}