.introduction {
	padding-bottom: 85px;
	background: white;

	&__container {

	}
	&__partner {
		margin-top: 22px;
		float: right;
		width: 233px;
		height: 277px;
		background: url(../img/partner-yandex.png) no-repeat 0 0;
		background-size: contain;
	}
	&__main-content {
		margin-right: 233px + 74px;
	}
	&__title {
		font-size: 55px;
		.light();
		margin-bottom: 39px;
		line-height: 1.5;
		color: #111;
	}
	&__text-wrap {

	}
	&__text {
		color: #222;
		font-size: 30px;
		.light();
		line-height: 1.4;
		margin-bottom: 56px;
		&_bold {
			.bold();
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 770px) {
	.introduction {
		&__container {
			display: flex;
			flex-direction: column;
		}
		&__partner {
			order: 20;
			margin-top: 0;
			float: none;
		}
		&__main-content {
			margin-right: 0;
			order: 10;
			margin-bottom: 20px;
		}
		&__title {
			font-size: 45px;
		}
		&__text {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 500px) {
	.introduction {
		&__container {
			display: flex;
			flex-direction: column;
		}
		&__partner {
			order: 20;
			margin-top: 0;
			float: none;
		}
		&__main-content {
			margin-right: 0;
			order: 10;
			margin-bottom: 20px;
		}
		&__title {
			font-size: 30px;
		}
		&__text {
			font-size: 20px;
		}
	}
}