.request-block {
	background: #fdf5e1;
	padding: 58px 0 102px;
	margin-bottom: 150px;

	&__title {
		color: #111;
		font-size: 55px;
		.light();
		margin-bottom: 38px;
	}

	&__form {
		margin-bottom: 53px;
		.form {
			margin-bottom: 1px;
		}
	}

	&__calculator {
		margin-bottom: 32px;
	}
	&__calculator-title {
		color: #222;
		font-size: 21px;
		.regular();
		margin-bottom: 17px;
	}
	&__calculator-price {
		color: #222;
		font-size: 34px;
		.regular();
		margin-bottom: 12px;
	}
	&__calculator-text {
		color: #1a1a1a;
		font-size: 16px;
		.regular();
		line-height: 24px;
	}

	// Info
	&__info {

	}
	&__info-title {
		color: #222;
		font-size: 21px;
		.regular();
		margin-bottom: 14px;
	}
	&__info-columns {

	}
	&__info-col {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		&:first-child {
			width: 51%;
		}
		&:last-child {
			width: 49%;
		}
	}
	&__info-list {

	}
	&__info-item {
		color: #1a1a1a;
		font-size: 16px;
		.regular();
		line-height: 24px;
		&:before {
			content: "— ";
		}
	}
	&__info-star-text {
		font-size: 16px;
		.regular();
		line-height: 24px;
		color: #1a1a1a;
		padding-left: 30px;
		position: relative;
		max-width: 382px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 1px;
			.svg-icon('icon-star-yellow', 22px, 21px);
		}
	}
	&__info-link {
		color: #04b;
		text-decoration: none;
		&:hover {
			color: #5acc3a;
		}
		&:before {
			content: "";
			display: inline-block;
			vertical-align: -1px;
			margin-right: 4px;
			.svg-icon('icon-mail', 16px, 12px);
		}
		&:hover:before {
			.svg-icon('icon-mail-hover', 16px, 12px);
		}
	}

}

@media screen and (max-width: 770px) {
	.request-block {
		padding: 52px 0 52px;
		margin-bottom: 100px;

		&__title {
			font-size: 40px;
		}

		// Info
		&__info {

		}
		&__info-title {
			color: #222;
			font-size: 21px;
			.regular();
			margin-bottom: 14px;
		}
		&__info-columns {

		}
		&__info-col {
			display: block;
			vertical-align: top;
			margin-right: 0;
			margin-bottom: 30px;
			&:first-child {
				width: 100%;
			}
			&:last-child {
				width: 100%;
				margin-bottom: 0;
			}
		}
		&__info-list {

		}
	}
}

@media screen and (max-width: 500px) {
	.request-block {
		padding: 38px 0;
		margin-bottom: 50px;

		&__title {
			font-size: 30px;
		}

		&__info-title {
			font-size: 20px;
		}
	}
}