.work-process {
	background: url(../img/work-process-bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 61px;
	padding-bottom: 82px;
	margin-bottom: 150px;

	&__container {

	}
	&__box {
		width: 460px;
		max-width: 100%;
		display: inline-block;
		vertical-align: top;
	}
	&__title {
		color: white;
		font-size: 55px;
		.light();
		margin-bottom: 30px;
	}
	&__sub-title {
		color: white;
		.regular();
		font-size: 21px;
		line-height: 1.7;
		margin-bottom: 74px;
	}
	&__list {

	}
	&__item {

	}
	&__item-time {
		//float: left;
		display: inline-block;
		vertical-align: top;
		margin-right: 40px - 4px;
		width: 60px;
		height: 60px;
		border: 2px solid #5acc3a;
		border-radius: 50%;
		line-height: 1.3;
		text-align: center;
		.box-sizing(border-box);
		padding-top: 10px;

		color: white;
		.regular();
		font-size: 12px;
		position: relative;
		margin-bottom: 60px;
		&:after {
			content: '';
			position: absolute;
			top: 58px;
			left: 50%;
			margin-left: -1px;
			width: 2px;
			height: 59px;
			background: #5acc3a;
		}
		.work-process__item:last-child & {
			&:after {
				display: none;
			}
			margin-bottom: 0;
		}
	}
	&__item-text {
		//margin-left: 60px + 40px;
		display: inline-block;
		vertical-align: top;
		width: calc(~"100% - 60px - 40px");
		margin-top: 8px;
		margin-right: -4px;
		color: white;
		font-size: 16px;
		.regular();
		line-height: 1.4;
	}
}

@media screen and (max-width: 770px) {
	.work-process {
		position: relative;
		&:before {
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			background: rgba(0,0,0,.5);
		}
		&__box {
			z-index: 20;
			position: relative;
		}
		&__title {
			font-size: 30px;
		}
		&__sub-title {
			font-size: 16px;
			margin-bottom: 40px;
		}
	}
}

@media screen and (max-width: 500px) {
	.work-process {
		margin-bottom: 50px;
		&__title {
			font-size: 30px;
		}
		&__sub-title {
			font-size: 16px;
			margin-bottom: 40px;
		}
	}
}